.Form__header {
  font-family: "BrandonMed", sans-serif;
  font-size: 20px;
  color: black;
}

.Form__outer {
  font-family: "BrandonLight", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}

.Form__outer li {
  justify-self: left;
  margin-top: 8px;
}

.Form__outer label {
  margin-right: 10px;
  display: inline-block;
  width: 150px;
  text-align: right;
}

.Form__outer input {
  padding: 5px;
}

.Form__outer .button {
  width: 100%;
  transition: all 300ms ease-in;
}

.Form__outer button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.Form__outer .Form__button {
  text-align: center;
}

.Form__button button {
  margin: 15px 5px 0 5px;
}

.Form__button .button-link {
  width: 100%;
  background-color: #f5f5f5;
  color: green;
}

.Form__button:hover {
  color: red;
}

.Form__required,
.Form__error {
  color: red;
  font-size: 0.8em;
  font-style: italic;
}

.Form__error {
  text-align: center;
  font-weight: bold;
}

.Form-items li label {
  font-weight: 600;
  display: inline-block;
  width: 100px;
  text-align: left;
  margin-bottom: 5px;
}

.Form-items li {
  margin: 10px 0;
}

.formSelect {
  display: inline-block;
  font-size: 14px;
  font-family: sans-serif;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

/* Hide arrow icon in IE browsers */
.formSelect::-ms-expand {
  display: none;
}
/* Hover style */
.formSelect:hover {
  border-color: #888;
}
/* Focus style */
.formSelect:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

/* Set options to normal weight */
.formSelect option {
  font-weight: normal;
}

/* Disabled styles */
.formSelect:disabled,
.formSelect[aria-disabled="true"] {
  color: graytext;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.formSelect:disabled:hover,
.formSelect[aria-disabled="true"] {
  border-color: #aaa;
}

.formRadio {
  margin: 10px;
  display: inline-block;
}

.formRadio input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.formRadio label {
    display: inline-block;
    background-color: #ddd;
    padding: 5px 10px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    width: 100px;
    text-align: center;
}

.formRadio label:hover {
  background-color: #dfd;
}

.formRadio input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.formRadio input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}

@media (min-width: 650px) {
  .Form-items li label {
    margin-right: 10px;
    text-align: right;
  }

  .Form__button {
    text-align: center;
  }
}
