.main {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.main__card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  background-color: #efefef;
}
