.toolbar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: blue;
	padding: .5rem; 
	margin-bottom: 20px;
	z-index: 500;
}

.toolbar__navigation {
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 1rem;
}

.toolbar__logo {
	margin-left: 1rem;
	max-width: 200px;
	height: auto;
	font-size: 1.5em;
}

.toolbar__logo a {
	color: white;
	text-decoration: none;
}

.toolbar__logo a:hover {
	color: red;
}

.toolbar__logo a img {
	width: 50px;
	height: auto;
	vertical-align: middle;
}

.spacer {
	flex: 1;
}

.toolbar__navigation-items a {
	color: white;
	text-decoration: none;
}

.toolbar__navigation-items a:hover,
.toolbar__navigation-items a:active {
	color: red;
}

.toolbar__navigation-items ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.toolbar__navigation-items li {
	padding: 0 0.5rem;
}

@media (max-width: 550px) {
	.toolbar__navigation-items {
		display: none;
	}

	.toolbar__logo a img {
		width: 50px;
		height: auto;
	}
}

@media (min-width: 551px) {
	.toolbar__toggle-button {
		display: none;
	}
	
	.toolbar__logo {
		margin-left: 0;
		max-width: 230px;
	}
}