.ModalWrapper {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.ModalBody {
  background-color: #efefef;
  margin: auto;
  padding: 20px;
  border: 1px solid black;
  width: 90%;
}

.CloseButton {
  color: green;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.CloseButton:hover,
.CloseButton:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 650px) {
  .ModalBody {
    width: 50%;
  }
}
